six==1.17.0
annotated-types==0.7.0
nvidia-cublas==13.1.1.3
nvidia-cudnn-cu13==9.20.0.48
blis==1.3.3
nvidia-curand==10.4.0.35
httpx==0.28.1
huggingface_hub==1.15.0
soupsieve==2.8.3
aiohttp==3.13.5
typing-inspection==0.4.2
nvidia-nvtx==13.0.85
nvidia-cusparselt-cu13==0.8.1
urllib3==2.7.0
fsspec==2026.2.0
triton==3.7.0
scipy==1.17.1
kiwisolver==1.5.0
yarl==1.23.0
python-dateutil==2.9.0.post0
threadpoolctl==3.6.0
click==8.4.0
efficiency==2.0
aiohappyeyeballs==2.6.1
matplotlib==3.10.9
dill==0.4.1
cuda-pathfinder==1.5.4
fonttools==4.63.0
spacy==3.8.14
sympy==1.14.0
spacy-legacy==3.0.12
Jinja2==3.1.6
h11==0.16.0
pillow==12.2.0
nvidia-cusparse==12.6.3.3
bleu==0.3
markdown-it-py==4.2.0
sentry-sdk==2.60.0
nvidia-cuda-runtime==13.0.96
mdurl==0.1.2
scikit-learn==1.8.0
contourpy==1.3.3
nvidia-cufile==1.15.1.6
attrs==26.1.0
hf-xet==1.5.0
smmap==5.0.3
typer==0.25.1
platformdirs==4.9.6
joblib==1.5.3
spacy-loggers==1.0.5
catalogue==2.0.10
torch==2.12.0
confection==1.3.3
rich==15.0.0
GitPython==3.1.50
cuda-bindings==13.2.0
PySocks==1.7.1
pydantic==2.13.4
nvidia-cufft==12.0.0.61
srsly==2.5.3
pip==25.1.1
murmurhash==1.0.15
propcache==0.5.2
cymem==2.0.13
datasets==4.8.5
wandb==0.27.0
preshed==3.0.13
setuptools==81.0.0
wasabi==1.1.3
frozenlist==1.8.0
wrapt==2.1.2
numpy==2.4.5
Pygments==2.20.0
httpcore==1.0.9
PyYAML==6.0.3
anyio==4.13.0
annotated-doc==0.0.4
pyparsing==3.3.2
charset-normalizer==3.4.7
mpmath==1.3.0
pydantic_core==2.46.4
nvidia-nvshmem-cu13==3.4.5
xxhash==3.7.0
pandas==3.0.3
requests==2.34.2
multiprocess==0.70.19
cuda-toolkit==13.0.2
tqdm==4.67.3
nvidia-cuda-cupti==13.0.85
nvidia-nvjitlink==13.0.88
thinc==8.3.13
nvidia-nccl-cu13==2.29.7
certifi==2026.4.22
protobuf==7.34.1
weasel==1.0.0
pyarrow==24.0.0
aiosignal==1.4.0
MarkupSafe==3.0.3
filelock==3.29.0
cloudpathlib==0.24.0
beautifulsoup4==4.14.3
typing_extensions==4.15.0
nvidia-cusolver==12.0.4.66
idna==3.15
gitdb==4.0.12
cycler==0.12.1
shellingham==1.5.4
multidict==6.7.1
packaging==26.2
smart_open==7.6.1
networkx==3.6.1
gdown==6.0.0
nvidia-cuda-nvrtc==13.0.88
